@model LuckyTurtles.ASP.NET.MVC.VideoTutorials.Models.Video
@{
    ViewBag.Title = "WatchVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="aspect-ratio center-container">
        <iframe src="https://www.youtube.com/embed/@Model.SourceLink" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="center-container info-container">
        <h4>Posted by: @Model.User.Username</h4>
        <h4>Date Posted: @Model.DatePublished.ToString("d")</h4>
        <h4>Views: @Model.WatchCount</h4>
        <h4>Description:</h4>
        <h4 style="font-size:15px">@Html.DisplayFor(x => x.Description)</h4>
    </div>
</div>

